| hi there
- if (typeof comment !== 'undefined')
  .comment-panel(commentid='#{comment.id}', profileid='#{profile._id}')    
    - if ((profile._id.equals( user._id )) || (comment.posterid.equals(user._id)))
      a.post-close-btn
    .poster-picture
      - if (comment.pictureurl)
        img(src='#{comment.pictureurl}')
    .comment-item!= comment.desc
      .postmark on #{comment.createdat}
    .clear-float    
