- var playerteam = profile.team
- var otherteamname = null
- if (typeof match.teams !== 'undefined')
  - each team in match.teams
    - if (String(team._id) != String(playerteam._id))
      - otherteamname = team.teamname;
- voted = false
- if (profile.votes)
  - each vote in profile.votes
    - if ( String(vote.matchid) == String(match._id))
      - voted = true
- if (!voted) 
  .match-update-panel Did you win the match against team 
    a #{otherteamname || 'N/A'}?
    button(matchid='#{match._id}', teamid='#{playerteam._id}', playerid='#{profile._id}', action='win') Yes, we won
    button(matchid='#{match._id}', teamid='#{playerteam._id}', playerid='#{profile._id}', action='lose') No, we lost
