- if (typeof post !== 'undefined')
  .post-panel(postid='#{post.id}', profileid='#{profile._id}')    
    - if (profile._id == user._id)
      a.post-close-btn
    .post-item.poster-picture
      - if (post.pictureurl)
        img(src='#{post.pictureurl}')
    .post-item!= post.desc
    .post-item.postmark on #{post.createdat}
    .post-item.post-comment= post.comment
    .clear-float    
