link(rel='stylesheet', href='/stylesheets/profile.css')
- var team = profile.team;
#profile-main
  #personal-info
    #player-name.player-nickname= profile.nickname
    #player-status= profile.statustext
    #player-picture
      img(src='#{profile.pictureurl || '../../images/player.jpg'}', maxheight=100, maxwidth= 100)
    - if (profile._id == user._id) 
      #player-picture-change
        a(profileid='#{profile._id}') Change your profile picture
    ol
      li#player-team.personal-info-item            
        .personal-info-item-label Team:
        .personal-info-item-value#teamname
          - if (team && team._id)
            a(href='/team/#{team._id}') #{(team && team.teamname) || 'None'}
          - else 
            #{(team && team.teamname) || 'None'}
        .clear-float
      li.personal-info-item            
        .personal-info-item-label Team record:
        #team-record.personal-info-item-value #{(team && team.stats ? team.stats.win : 0) || 0}-#{(team && team.stats ? team.stats.loss : 0) || 0}
        .clear-float
      li.personal-info-item            
        .personal-info-item-label Individual record:
        .personal-info-item-value #{(profile.stats ? profile.stats.win : 0 ) || 0}-#{(profile.stats ? profile.stats.loss : 0) || 0}
        .clear-float
      li.personal-info-item            
        .personal-info-item-label Rank:
        .personal-info-item-value #{profile.rank || 'N/A'}
        .clear-float
  #personal-wall
    .new-post
      //label(for='newpost-msg') Write something
      textarea#newpost-msg.post-text(cols='74')
      br
      button.post-btn(profileid='#{profile._id}', userid='#{user._id}') Post
    .post-list
      != partial('post', profile.posts)
  .todo-section
    != partial('todoteam')
    != partial('todorecruit')
    - if ((typeof profile !== 'undefined') && (typeof user !== 'undefined') && (profile._id == user._id))
      - if (typeof profile.invites !== 'undefined' && profile.invites.length)
        != partial('invite', profile.invites)
      - if (team && team.challenges && team.challenges.length)
        != partial('challenge', team.challenges)
      - if (team && team.matches && team.matches.length)
        != partial('match', team.matches)
  .clear-float
script(type='text/javascript', src='/javascripts/app/profile.js')
script(type='text/javascript', src='/javascripts/jquery/jquery.watermark.min.js')
script(type='text/javascript', src='/javascripts/jquery/jquery.elastic.source.js')

