link(rel="stylesheet/less", type="text/css", href="/stylesheets/profile.less")
- var team = profile.team
.row
  #profile-main.span3
    .player-picture
      img(src='#{profile.pictureurl || '../../images/player.jpg'}')
    - if (profile._id == user._id) 
      #player-picture-change
        a.btn.btn-mini.btn-info(data-profileid='#{profile._id}')
          i.icon-camera.icon-white
          | &nbsp;Change your profile picture
    .space1
    .personal-info-item            
       .personal-info-item-label Team:
       .personal-info-item-value#teamname
          - if (team && team._id)
            a(href='/team/#{team._id}') #{(team && team.teamname) || 'None'}
          - else 
            #{(team && team.teamname) || 'None'}
    .personal-info-item            
        .personal-info-item-label Team record:
        #team-record.personal-info-item-value 
          a(href='#').label.label-info #{(team && team.stats ? team.stats.win : 0) || 0}-#{(team && team.stats ? team.stats.loss : 0) || 0}
    .personal-info-item            
        .personal-info-item-label Individual record:
        .personal-info-item-value 
          a(href='#').label.label-info #{(profile.stats ? profile.stats.win : 0 ) || 0}-#{(profile.stats ? profile.stats.loss : 0) || 0}
    .personal-info-item            
        .personal-info-item-label Rank:
        .personal-info-item-value #{profile.rank || 'N/A'}
    
  #personal-wall.span6
    h1.player-nickname= profile.nickname
    h4.player-status= profile.statustext
    .space1
    .row    
      .span6.new-post
        textarea#newpost-msg.post-text(rows=1, placeholder='Write something...')
        button.btn.btn-mini.btn-primary.pull-right(data-profileid='#{profile._id}', data-userid='#{user._id}')
          i.icon-comment.icon-white
          | &nbsp;Post
    .post-list
      != partial('post', profile.posts)
  .span3.todo-section
    != partial('todoteam')    
    //
      != partial('todorecruit')
    - if ((typeof profile !== 'undefined') && (typeof user !== 'undefined') && (profile._id == user._id))
      - if (typeof profile.invites !== 'undefined' && profile.invites.length)
        != partial('invite', profile.invites)
      - if (team && team.challenges && team.challenges.length)
        != partial('challenge', profile.challenges)
        script(type='text/javascript', src='/js/todochallenge.js')
      - if (profile && profile.matches && profile.matches.length)
        != partial('match', profile.matches)
        script(type='text/javascript', src='/js/todomatch.js')
#upload-picture-dlg.modal.hide
  form(method="post", enctype="multipart/form-data", action="/player/#{profile._id}/picture")
    .modal-header
      a.close(data-dismiss='modal') x
      h3 Upload new picture
    .modal-body
      label Image:
      input(name='image', type='file')
    .modal-footer
      input.btn.btn-primary(type='submit') Save
#team-records-dlg.modal.hide
  
    
  
  
script(type='text/javascript', src='/js/profile.js')
