- if ((typeof profile !== 'undefined') && (typeof user !== 'undefined') && (profile._id == user._id))
  - if (typeof profile.team == 'undefined' || !profile.team || !profile.team._id)
    .todo-noteam
      .todo-noteam-text You don't have a team yet
      .buttons
        button#createteambtn(width=100, profileid='#{user._id}') Create your team
        button#jointeambtn(width=100, profileid='#{user._id}') Find a team
      #todo-noteam-create.dialog(title='Create your team')
        .createteam-panel
          #formbox-createteam.formbox
            .title Create your team
              span
            != partial('../messages')
            .teamcreate-logo
              img(src='../../images/teamcreate.jpg')
            .teamcreate-formpanel
              form#form-teamcreate.createteam-form(method='POST', action='/team/#{user._id}')
                fieldset
                  input#form-teamcreate-validation(name='validation', type='hidden')
                  ol
                    li
                      label(for='form-teamcreate-username') Your awesome team name
                      input#form-teamcreate-teamname.text(maxlength='255', name='teamname', size='40', type='text')
            .clear-float      
      #todo-noteam-join.dialog(title='Find your team', userid='#{profile._id}')
        .title Available teams
          span
        .team-list
      #todo-noteam-join-confirm.dialog(title='Team request')
        .dialog-body
          img(src='/images/addme.jpg')
          div Your joining request has been sent!  Hone your foos skill while waiting for the acceptance.
          .clear-float
  - else
    - if (profile.team.joinrequests && profile.team.joinrequests.length)
      .todo-noteam
        .todo-noteam-text Somebody wants to join your team!!!
        .buttons
          button#gototeambtn(width=100, teamid='#{profile.team._id}') See your team
  script(type='text/javascript', src='/javascripts/profile/todoteam.js')
  link(rel='stylesheet', href='/stylesheets/team.css')

