- if (typeof m != 'undefined' && m)
  .profile-header(data-role='header')
    .user-nickname #{m.nickname || ''}
    .user-score #{m.wins || 0}-#{m.losses || 0}
  .profile-body(data-role='content')
    ul(data-role='listview', data-inset='true', data-theme='e')
      li
        a Challenges
          span.ui-li-count #{m.challengeCount || 0}
      li
        a Matches
          span.ui-li-count #{m.matchCount || 0}
      li
        a New Posts
          span.ui-li-count 10
