- if (firstInCollection)
  .item.active
    img(src='#{highlight.pictureurl}')
    .carousel-caption
      h3= highlight.caption 
      p= highlight.newscontent
        | &nbsp;&nbsp;
        a &nbsp;&nbsp;read more...
- else
  .item
    img(src='#{highlight.pictureurl}')
    .carousel-caption
      h3= highlight.caption 
      p= highlight.newscontent
        | &nbsp;&nbsp;
        a read more...

